*{
  margin: 0;
}

body {
  background:  #ededed;

}

.mainContainer {
  display: grid;
  margin-top: 60px;
  justify-content: center;
}

.container {
  display: grid;
  grid-gap: 18px;
  justify-items: center;
}

.heading {
  margin-bottom: 20px;
  font-size: 40px;
  align-self: center;
  justify-self: center;
}


.buttons {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
  align-items: center;
}

.color_picker {
  justify-self: right;
}

.reset {
  grid-column: 7;
  justify-self: left;
  margin-left: 5px;
}



.board {
  display: grid;
  width: 600px;
  height: 600px;
  border-radius: 8px;
  margin: 0;
  padding: 0;
  /* border: 10px solid #c9ced4; */


  box-shadow: -3px -3px 7px #edeef0, 3px 3px 5px rgba(94, 104, 121, .5);
}


.box {
  margin: 0;
  padding: 0;
  background-color: #fefefe;
}

.p {
  background-color: red;
}

.rangeContainer {
  height: 50px;
  display: grid;
  width: 400px;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  /* border: 1px solid black; */
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #fefefe;

  /* background: #dde1e7; */
  box-shadow: -3px -3px 7px #edeef0, 3px 3px 5px rgba(94, 104, 121, .5);

}

.slider {
  -webkit-appearance: none;
  height: 2px;
  background: black;
  outline: none;
  grid-column-start: 2;
  grid-column-end: 12;
  


  /* opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s; */
}

/* .slider:hover {
  opacity: 1;
} */

.value-container {
  grid-column: span 4 / -1;
  align-self: center;
  justify-self: center;
}

