.mainContainer {
  display: grid;
}

.board {
  display: grid;
  width: 600px;
  height: 600px;
}

.row {
  display: grid;
  grid-auto-flow: column;
}

.box {
  border: 1px solid black;
}

.p {
  background-color: red;
}
